/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #eee;
}
body {
    color: #888;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}

.space{
    height:15px;
}

.margin-top-10
{
    margin-top:10px;
}

.cover-text
{
    font-size:17px;
    font-weight:normal;
    line-height:17px;
}

hr {    border: none;
    border-top:dashed 1px #888;
}

.circle img{
    border-radius: 100px;
    background: #888888;
    color: white;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 46px;
    float: left;
    margin-right: 10px;
}

.thank-you-block
{
    height:120px;
}

.thank-you-block .col-md-2 {
    width:25%;
}

.thank-you-block .col-md-9 {
    width:75%;
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width:700px) {
    .thank-you-block {
        width:50%;
        float:left;
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }

    .thank-you-block {
        width:33%;
    }
}

@media (max-width:991px) {
    .thank-you-block .col-md-2 {
        float:left;
    }
}

.cover ol
{
text-align:left;
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.navbar-inverse
{
    background: #8B8B8B;
    border-bottom: 2px solid #222;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

@media screen and (max-width: 767px) {

    .container-narrow {
        padding:0;!important;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }

    .nav-sidebar{
        padding-top:20px;
        padding-right: 0;
    }
}

@media screen and (max-width:350px) {
    .navbar-header a {
        float:left;
        width:75%;
    }

    .navbar-header a img {
        max-width:100%;
    }
}

h1, h2, h3, h4, h5
{
    font-family: 'Abel', sans-serif;
}

body
{
    font-family: 'Roboto', sans-serif;
}


/* Sidebar navigation */

.nav-sidebar > li > span {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(52, 168, 168);
}
.nav-sidebar > li > ul > li > a
{
    color: #888;
}
.nav-sidebar > li > ul
{
    list-style: none;
}
a
{
    color:rgb(52, 168, 168);
}


.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: rgb(52, 168, 168);
}

/* desktop */
@media screen and (min-width: 768px)
{
    .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
    }

    .container-narrow {
        padding:2% 10%;
    }
}



.btn-support {
    background-color: rgb(52, 168, 168);
    color: white;
}

.main {
    padding: 20px;
}
@media screen and (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}