<div class="col-xs-6 sidebar-offcanvas col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="{%- if page.url == '/' -%}active{%- endif -%}"><a href="{{ site.baseurl}}/">Home</a></li>
        <li>
            <a class="text-muted disabled">Translations</a>
            <ul>
            {% for site_page in site.pages %}
                {% assign language = nil %}
                {% assign exploded = site_page.name | split: '.'%}
                {% if exploded.size == 3 %}
                    {% assign language = exploded[1] %}
                {% endif %}

                {% if language %}
                <li class="{%- if page.url contains language -%}active{%- endif -%}">
                    <a href="{{ site.baseurl }}{{ site_page.url }}">
                        {{ language | capitalize }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </li>
        {% for item in site.nav %}
        <li class="{%- if page.url contains item.url -%}active{%- endif -%}">
            <a href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
